.sidebar h5 {
    height: 30px;
    margin-bottom: 0;
}
.sidebar .footer {
    height: 160px;
    background-color: #f6f6f5;
}
.sidebar .products {
    height: calc(100% - 190px);
    overflow: auto;
    align-content: flex-start;
}
.sidebar .footer button {
    color: #f6f6f5;
    font-weight: 700;
    font-size:18px
}